*{
    padding: 0;
    margin: 0;
    
}

body{
    background-color: #313131;
    color: #ffffff;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
    gap: 0.5rem;
}



.timer, .buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1.5rem;

}

.timer{
    font-size: 2rem;
    letter-spacing: .25rem;
    color: #e5fa2b;
}

button{
    padding: 0.3rem 1.5rem;
    border: transparent;
    border-radius: 3%;
}